---
name: check-all

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  failing-job:
    runs-on: ubuntu-latest
    steps:
    - run: exit 1

  succeeding-job:
    runs-on: ubuntu-latest
    steps:
    - run: exit 0

  wait-for-success:
    needs:
    - succeeding-job
    if: always()
    runs-on: ubuntu-latest
    steps:
    - run: echo 'results=${{ toJSON(needs.*.result) }}'
    - run: |
        import os
        os.exit(int(not all(dependency_result == 'success' for dependency_result in ${{ toJSON(needs.*.result) }})))
      shell: python

  wait-for-failure:
    needs:
    - failing-job
    if: always()
    runs-on: ubuntu-latest
    steps:
    - run: echo 'results=${{ toJSON(needs.*.result) }}'
    - run: |
        import os
        os.exit(int(not all(dependency_result == 'success' for dependency_result in ${{ toJSON(needs.*.result) }})))
      shell: python

  wait-for-both:
    needs:
    - failing-job
    - succeeding-job
    if: always()
    runs-on: ubuntu-latest
    steps:
    - run: echo 'results=${{ toJSON(needs.*.result) }}'
    - run: |
        import os
        os.exit(int(not all(dependency_result == 'success' for dependency_result in ${{ toJSON(needs.*.result) }})))
      shell: python
...
