---
name: check-all

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  failing-job:
    runs-on: ubuntu-latest
    steps:
    - run: exit 1

  succeeding-job:
    runs-on: ubuntu-latest
    steps:
    - run: exit 0

  skipped-job:
    if: false
    runs-on: ubuntu-latest
    steps:
    - run: exit 0

  wait-for-success:
    needs:
    - succeeding-job
    - skipped-job
    if: always()
    runs-on: ubuntu-latest
    steps:
    - run: echo 'results=${{ toJSON(needs.*.result) }}'
    - uses: re-actors/alls-green@main
      with:
        jobs: ${{ toJSON(needs) }}

  wait-for-failure:
    needs:
    - failing-job
    - skipped-job
    if: always()
    runs-on: ubuntu-latest
    steps:
    - run: echo 'results=${{ toJSON(needs.*.result) }}'
    - uses: re-actors/alls-green@main
      with:
        jobs: ${{ toJSON(needs) }}

  wait-for-both:
    needs:
    - failing-job
    - succeeding-job
    - skipped-job
    if: always()
    runs-on: ubuntu-latest
    steps:
    - run: echo 'results=${{ toJSON(needs.*.result) }}'
    - uses: re-actors/alls-green@main
      with:
        jobs: ${{ toJSON(needs) }}

  allow-some-failures:
    needs:
    - failing-job
    - succeeding-job
    - skipped-job
    if: always()
    runs-on: ubuntu-latest
    steps:
    - run: echo 'results=${{ toJSON(needs.*.result) }}'
    - uses: re-actors/alls-green@main
      with:
        allowed-failures: >-
          ["failing-job", "skipped-job"]
        jobs: ${{ toJSON(needs) }}

  allow-some-failures-str:
    needs:
    - failing-job
    - succeeding-job
    - skipped-job
    if: always()
    runs-on: ubuntu-latest
    steps:
    - run: echo 'results=${{ toJSON(needs.*.result) }}'
    - uses: re-actors/alls-green@main
      with:
        allowed-failures: failing-job, skipped-job
        jobs: ${{ toJSON(needs) }}
...
